# built css
/public/style.css

# wallpapers
wallpapers.json

# build output
target/
pkg
/result

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ide
.idea/

# rustfmt
**/*.rs.bk

# vim
[._]*.sw[a-p]
