# built css
/public/style.css

# wallpapers
wallpapers.json

# build output
target/
pkg

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# ide
.idea/

# rustfmt
**/*.rs.bk
