@import "tailwindcss";

@theme {
    --almostscreen: 90vh;
    --halfscreen: 60vh;
}

/* Fixed background when scrolling in tailwind
 * Disabled on iOS devices

 * https://tailwindcss.com/docs/background-attachment
 * https://stackoverflow.com/a/60220757/4809297
 */

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */
    #wallpaper {
        background-attachment: scroll;
    }
}

@supports not (-webkit-touch-callout: none) {
    /* CSS for other than iOS devices */
    #wallpaper {
        background-attachment: fixed;
    }
}
