{% extends "content.html" %}

{% block content %}
<p>Send an email if you want to work with me, propose a project idea, or just to say hi!</p>

<div class="my-4">
    <a
            href="mailto:helloATphilippeloctauxDOTcom"
            class="inline-flex bg-sky-900 hover:bg-sky-700 transition-all duration-200 text-white font-bold py-2 px-4 rounded-xl items-center"
    >
        <div class="inline-flex items-center">
            {% include "icons/email.html" %}
            <span class="ml-2 sm:ml-0 text-center">hello at philippeloctaux dot com</span>
        </div>
    </a>
</div>

<p class="mb-2">
    If you want to encrypt your message, I have a
    <a href="/pub/pgp-0x69771CD04BA82EC0.txt" class="underline">pgp key</a> at your disposal.
</p>
<p class="mb-2">
    I also have a <a href="/keybase.txt" class="underline">Keybase</a> account, but I do not check it often.
</p>
{% endblock %}
