<div>
    <h1 class="text-4xl font-bold mb-4">Friends</h1>
    <p class="text-lg">Folks I worked with, or I like what they do.</p>

    <ul class="mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 sm:gap-4">
        {% for friend in friends %}
        <li class="py-2">
            <a
                    href={{friend.uri}}
                    target="_blank"
                    class="hover:bg-gray-500 transition-all duration-200 flex items-center rounded-lg p-2"
            >
        <span class="rounded-full flex-shrink-0 mr-4 w-10 h-10 bg-sky-900 text-white flex items-center justify-center text-lg font-medium"
        >{{ friend.initials() }}</span
        >
                <div>
                    <p class="font-bold">{{ friend.first_name }} {{ friend.last_name }}</p>
                    <p>{{ friend.domain_name() }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
