<div>
    <h1 class="text-4xl font-bold mb-4">Projects</h1>

    <div class="mt-4 space-y-4">

        {% for project in projects %}

        {% match project %}
        {% when ProjectKind::WithoutImage((project1, project2)) %}
        <div class="flex flex-col space-y-4 md:flex-row md:space-x-4 md:space-y-0">
            {% let project = project1 -%}
            {% include "pages/root/project-without-image.html" %}

            {% let project = project2 -%}
            {% include "pages/root/project-without-image.html" %}
        </div>
        {% when ProjectKind::WithImage(project) %}
        {% include "pages/root/project-with-image.html" %}
        {% endmatch %}

        {% endfor %}
    </div>
</div>
