<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>{{ title|title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0c4a6e">
    <meta name="msapplication-TileColor" content="#0c4a6e">
    <meta name="theme-color" content="#0c4a6e">
    <script defer data-domain="philippeloctaux.com" src="https://plausible.y.z.x4m3.rocks/js/script.js"></script>
</head>
<body class="flex flex-col min-h-screen bg-gray-900 text-white">
<div class="flex-grow">
{% block container %}{% endblock %}
</div>
<footer class="bg-black">
    <div class="container mx-auto px-4 py-8">
        <p>&copy; 2015 - {{ year }} Philippe Loctaux</p>
    </div>
</footer>
</body>
</html>
